In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [8]:
df = pd.read_csv(r"source\happiness_index_2018_2019.csv")
df.head()

,Overall rank,Country or region,Year,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,154,Afghanistan,2019,3.203,0.350,0.517,0.361,0.000,0.158,0.025
1,145,Afghanistan,2018,3.632,0.332,0.537,0.255,0.085,0.191,0.036
2,107,Albania,2019,4.719,0.947,0.848,0.874,0.383,0.178,0.027
3,112,Albania,2018,4.586,0.916,0.817,0.790,0.419,0.149,0.032
4,88,Algeria,2019,5.211,1.002,1.160,0.785,0.086,0.073,0.114

In [9]:
df.isnull().sum()

Overall rank                    0
Country or region               0
Year                            0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In this notebook I would like to predict the rank based on the given data.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  312 non-null    int64
 1   Country or region             312 non-null    object
 2   Year                          312 non-null    int64
 3   Score                         312 non-null    float64
 4   GDP per capita                312 non-null    float64
 5   Social support                312 non-null    float64
 6   Healthy life expectancy       312 non-null    float64
 7   Freedom to make life choices  312 non-null    float64
 8   Generosity                    312 non-null    float64
 9   Perceptions of corruption     312 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 24.5+ KB

In [11]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df["Country or region"] = le.fit_transform(df["Country or region"])
df.head()

,Overall rank,Country or region,Year,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,154,0,2019,3.203,0.350,0.517,0.361,0.000,0.158,0.025
1,145,0,2018,3.632,0.332,0.537,0.255,0.085,0.191,0.036
2,107,1,2019,4.719,0.947,0.848,0.874,0.383,0.178,0.027
3,112,1,2018,4.586,0.916,0.817,0.790,0.419,0.149,0.032
4,88,2,2019,5.211,1.002,1.160,0.785,0.086,0.073,0.114

In [12]:
X = df.drop(["Overall rank"], axis=1)
y = df["Overall rank"]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

param = [
    {
        "n_estimators": [100, 200, 300, 400, 450, 500],
        "max_depth": [3, 4, 6, 8, 10, 12],
        "max_leaf_nodes": [15, 20, 25],
    },
]
rf = RandomForestClassifier()
gs_rf = GridSearchCV(rf, param, cv=2, n_jobs=-1, verbose=1)
gs_rf.fit(X_train, y_train)
rf_best = gs_rf.best_estimator_
pred = gs_rf.predict(X_test)
gs_rf.best_estimator_, gs_rf.score(X_train, y_train)

Fitting 2 folds for each of 108 candidates, totalling 216 fits

c:\Users\karth\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(

(RandomForestClassifier(max_depth=6, max_leaf_nodes=25, n_estimators=450),
 0.9598393574297188)